In [2]:
import numpy as np
import pandas as pd
import random
import tensorflow as tf
import os
from collections import defaultdict

C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:460: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:461: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:462: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\dtypes.py:465: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
download=pd.read_csv("E:\\2020 慧源共享·数据悦读第二届高校开放数据创新研究大赛\\data\\数据\\下载行为日志_个人用户.csv",error_bad_lines=False)
see=pd.read_csv("E:\\2020 慧源共享·数据悦读第二届高校开放数据创新研究大赛\\data\\数据\\浏览行为日志_个人用户.csv",error_bad_lines=False)
see=see.drop(columns=['user_type','date_time','article_title','keywords','author','unit','province','classcode'])

C:\Users\yuki\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
download

           article_id           user_id  type
0             6769978  9fbc355f2519fc63     1
1             7427381  ebb77885bf041c50     1
2             7461623  86d5f40d3be7d711     1
3             8443319  7dec20b3e3230936     1
4             8443319  7dec20b3e3230936     1
...               ...               ...   ...
683811  zyzg201708012  81a8195e5ea6a14d     1
683812  zyzg201708012  81a8195e5ea6a14d     1
683813  zyzg201708012  81a8195e5ea6a14d     1
683814  zyzg201708012  81a8195e5ea6a14d     1
683815  zyzg201708012  81a8195e5ea6a14d     1

[683816 rows x 3 columns]

In [5]:
see

              article_id           user_id type
0       0120180804676542  4130035b8a4b59c0    2
1       0120180804676542  4130035b8a4b59c0    2
2       0120180804985060  96758755a2c52217    2
3       0120180804985060  de46b376f881b6d5    2
4       0120180805054765  7b28bde83d4b7414    2
...                  ...               ...  ...
832953     zzgy201810001  1af81811f3fc4cf6    2
832954     zzjs201901022  93abfee3bc085cbf    2
832955    zzyfl200102021  c26a04c676555c87    2
832956   zzyzdh200203008  c9d2abe18e7d8f33    2
832957   zzyzdh200203008  c9d2abe18e7d8f33    2

[832958 rows x 3 columns]

In [6]:
download.set_index(['user_id'],inplace=True)
download=download.sort_index(level='user_id')
download=download.reset_index()
down2=download.groupby(['user_id','article_id']).size().reset_index(name='count')

In [7]:
down2

                 user_id              article_id  count
0       0003bc49a090acd4           xrwk201711002      3
1       0003eb82209c8376       hainanyx201716013      1
2       0003eb82209c8376         hnyxyj201607032      1
3       0003eb82209c8376        tlsjyyj201919043      1
4       0003eb82209c8376           yjyx201907014      1
...                  ...                     ...    ...
352886  fffc9c4d5a9749bf         xxjsjy201808031      1
352887  fffd41718f68607a        spyjykf201418099      1
352888  fffef9619c8660b6           mysj201818089      1
352889  ffff2b46450b76a8  lpssfgdzkxxxb201204014      3
352890  fffff213700eebf2         zgszyx201402023      1

[352891 rows x 3 columns]

In [8]:
see.set_index(['user_id'],inplace=True)
see=see.sort_index(level='user_id')
see=see.reset_index()
see2=see.groupby(['user_id','article_id']).size().reset_index(name='count')

In [9]:
see2

                 user_id              article_id  count
0       00003e6436d10673      csjsllyj2011231633      2
1       00003e6436d10673         zgkjzh201224159      1
2       00004f36d33c75e6                Y2323894      2
3       0000786d80357b13      dnbcjqywh201021005      1
4       0000786d80357b13         kxyxxh201720026      1
...                  ...                     ...    ...
584942  ffff2b46450b76a8         jyjxlt201347200      1
584943  ffff2b46450b76a8  lpssfgdzkxxxb201204014      1
584944  ffff9c12c9b929d7           ckxx201924031      1
584945  ffff9c12c9b929d7        danddhj201916083      1
584946  ffff9c12c9b929d7         yygllt201901001      1

[584947 rows x 3 columns]

In [ ]:
'''action={}

I=range(down2.index.size)
for i in I:
    user_id=down2.loc[i,'user_id']
    article=down2.loc[i,'article_id']
    num=down2.loc[i,'count']
    if user_id not in action.keys():
        action[user_id]={}
        action[user_id]['下载的文章id']=[]
        action[user_id]['下载次数']=[]
        action[user_id]['下载的文章id'].append(article)
        action[user_id]['下载次数'].append(num)
    else:
        action[user_id]['下载的文章id'].append(article)
        action[user_id]['下载次数'].append(num)
        
I=range(see2.index.size)
for i in I:
    user_id=see2.loc[i,'user_id']
    article=see2.loc[i,'article_id']
    num=see2.loc[i,'count']
    if user_id not in action.keys():
        action[user_id]={}
        action[user_id]['浏览的文章id']=[]
        action[user_id]['浏览次数']=[]
        action[user_id]['浏览的文章id'].append(article)
        action[user_id]['浏览次数'].append(num)
    else:
        if '浏览的文章id' not in action[user_id]:
            action[user_id]['浏览的文章id']=[]
            action[user_id]['浏览次数']=[]
            action[user_id]['浏览的文章id'].append(article)
            action[user_id]['浏览次数'].append(num)
        else:
            action[user_id]['浏览的文章id'].append(article)
            action[user_id]['浏览次数'].append(num)            
            
data_action=pd.DataFrame(action)
data_action2=pd.DataFrame(data_action.values.T,index=data_action.columns,columns=data_action.index)

outputpath='E:\\2020 慧源共享·数据悦读第二届高校开放数据创新研究大赛\\data\\数据\\用户行为次数.csv'
data_action2.to_csv(outputpath,sep=',',index=False,header=True)'''

In [ ]:
'''
b=[]
for x in list(seeuser)[:20000]:
    if x in list(downuser):
        b.append(x)
        
for x in list(seeuser)[20000:40000]:
    if x in list(downuser):
        b.append(x)    
        
for x in list(seeuser)[40000:60000]:
    if x in list(downuser):
        b.append(x)
        
for x in list(seeuser)[60000:100000]:
    if x in list(downuser):
        b.append(x)
        
for x in list(seeuser)[100000:130000]:
    if x in list(downuser):
        b.append(x)
        
for x in list(seeuser)[130000:]:
    if x in list(downuser):
        b.append(x)
        
col_name=['user']
# 先转为DataFrame格式
df = pd.DataFrame(columns=col_name, data=b)
# index=False表示存储csv时没有默认的id索引
df.to_csv("E:/2020 慧源共享·数据悦读第二届高校开放数据创新研究大赛/data/chongfu.csv", encoding='utf-8', index=False)
'''

In [10]:
artical=set(list(down2['article_id'].values)+list(see2['article_id'].values))
users=set(list(down2['user_id'].values)+list(see2['user_id'].values))
downuser=set(list(down2['user_id'].values))
seeuser=set(list(see2['user_id'].values))

In [11]:
artical_list=list(artical)
artical_list.sort(reverse=False)

users_list=list(users)
users_list.sort(reverse=False)

In [12]:
len(users_list)

207764

In [13]:
len(artical)

737767

In [11]:
#user和article转化成数据框
user_frame=pd.DataFrame(users_list,columns=['用户'])
article_frame=pd.DataFrame(artical_list,columns=['论文'])

In [12]:
#把用户和文章对应的序号做出来
users_list_num=[]
count_1=0
for u in users_list:
    users_list_num.append(count_1)
    count_1+=1
    
artical_list_num=[]
count_2=0
for a in artical_list:
    artical_list_num.append(count_2)
    count_2+=1

In [57]:
'''#建立一个有用户有下载浏览的文章号的字典
user_ratings={}.fromkeys(users_list_num,[])'''
user_ratings={}

In [60]:
for user in users_list:
    index=[]
    value=[]
    #找数据框中有这个userid的行索引,设成列表
    index=down2[(down2['user_id'].values==user)].index.tolist()
    #用户对应的论文id放到临时沦为id列表里，由于down2和see2数据框以实现去重
    #所以不需要检查是否有多个重复值进入
    for loc in index:
        value.append(down2.loc[loc,'article_id'])
    
    down2=down2.drop(index)
   
    #找数据框中有这个userid的行索引,设成列表
    index=see2[(see2['user_id'].values==user)].index.tolist()
    #用户对应的论文id放到字典里
    for loc in index:
        #检查是否有重复值
        if see2.loc[loc,'article_id'] not in value:
            value.append(see2.loc[loc,'article_id'])
    
    see2=see2.drop(index)
    
    loc_u=users_list.index(user)
    user_ratings[loc_u]=[]
    for v in value:
        loc_a=artical_list.index(v)
        #存入用户对应的序号和文章对应的序号
        user_ratings[loc_u].append(loc_a)

In [62]:
#生成的字典存成txt的方法
f=open('总用户字典.txt','w')
f.write(str(user_ratings))
f.close()

In [ ]:
#筛选满足条件的 行动>1且有行动
for k in list(user_ratings.keys()):
    if len(user_ratings[k])==0:
        del user_ratings[k]
        continue
    elif len(user_ratings[k])==1:
        del user_ratings[k]
        continue

In [ ]:
len(user_ratings)

In [ ]:
#生成的字典存成txt的方法
f=open('temp.txt','w')
f.write(str(user_ratings))
f.close()

In [13]:
#存成txt的文件重新生成字典的方法
f=open('temp.txt','r')
a=f.read()
user_ratings=eval(a)
f.close()

In [14]:
def generate_test(user_ratings):
    """
    对每一个用户u，在user_ratings中随机找到他评分过的一部电影i,保存在user_ratings_test，我们为每个用户取出的这一个电影，是不会在训练集中训练到的，作为测试集用。
    """
    user_test = dict()
    for u,i_list in user_ratings.items():
        user_test[u] = random.sample(user_ratings[u],1)[0]
    return user_test

#### 构造训练数据

In [15]:
def generate_train_batch(user_ratings,user_ratings_test,item_count,batch_size=512):
    """
    构造训练用的三元组
    对于随机抽出的用户u，i可以从user_ratings随机抽出，而j也是从总的论文集中随机抽出
    当然j必须保证(u,j)不在user_ratings中

    """
    t = []
    for b in range(batch_size):
        u = random.sample(user_ratings.keys(),1)[0]
        i = random.sample(user_ratings[u],1)[0]
        #test数据集里的数据不能作为训练使用，所以要另外取新值
        while i==user_ratings_test[u]:
            i = random.sample(user_ratings[u],1)[0]

        j = random.randint(1,item_count)
        while j in user_ratings[u]:
            j = random.randint(1,item_count)

        t.append([u,i,j])

    return np.asarray(t)

#### 构造测试数据

In [17]:
def generate_test_batch(user_ratings,user_ratings_test,item_count):
    """
    对于每个用户u，它的评分电影i是我们在user_ratings_test中随机抽取的，它的j是用户u部分没有评分过的论文集合，
    比如用户有n个评分过的论文，那么就从总论文集中抽取n个未评分过的论文作为j
    """
    for u in user_ratings.keys():
        num=len(user_ratings[u])
        t = []
        i = user_ratings_test[u]
        for count in range(num):
            j = random.randint(1,item_count)
            if not(j in user_ratings[u]):
                t.append([u,i,j])
            else:
                count-=1
        yield np.asarray(t)

In [29]:
len(user_ratings_index)

4343

#### 构造模型

In [18]:
def bpr_mf(user_count,item_count,hidden_dim):
    #hidden_dim是我们矩阵分解的隐含维度k
    
    #预先给三个参数赋予占位，分配必要的内存，等运行模型的时候通过feed_dict喂入数据
    u = tf.placeholder(tf.int32,[None])
    i = tf.placeholder(tf.int32,[None])
    j = tf.placeholder(tf.int32,[None])

    #创建新的tensorflow遍历，shape为count+1到hiddendim
    #创建的是 正态分布初始化器 均值0 方差0.1
    user_emb_w = tf.get_variable("user_emb_w", [user_count + 1, hidden_dim],
                                 initializer=tf.random_normal_initializer(0, 0.1))
    item_emb_w = tf.get_variable("item_emb_w", [item_count + 1, hidden_dim],
                                 initializer=tf.random_normal_initializer(0, 0.1))

    #选取一个张量里面索引对应的元素
    #u,i,j是索引,user_emb_w等是张量
    u_emb = tf.nn.embedding_lookup(user_emb_w, u)
    i_emb = tf.nn.embedding_lookup(item_emb_w, i)
    j_emb = tf.nn.embedding_lookup(item_emb_w, j)

    #MF predict:u_i>u_j
    #multiply 相同位置的元素相乘
    #reduce_sum 计算张量沿着某一维度的和
    #keepdims是否保持原有张量的维度
    x = tf.reduce_sum(tf.multiply(u_emb,(i_emb-j_emb)),1,keep_dims=True)

    
    #每个用户的AUC（AUC是指ROC曲线下的面积，TP越大，ROC曲线越上凸，算法分类效果越优秀）
    #average AUC = mean( auc for each user in test set)
    mf_auc = tf.reduce_mean(tf.to_float(x>0))

    #add_n 列表的元素相加
    l2_norm = tf.add_n([
        tf.reduce_sum(tf.multiply(u_emb, u_emb)),
        tf.reduce_sum(tf.multiply(i_emb, i_emb)),
        tf.reduce_sum(tf.multiply(j_emb, j_emb))
    ])

    #损失函数
    regulation_rate = 0.0001
    bprloss = regulation_rate * l2_norm - tf.reduce_mean(tf.log(tf.sigmoid(x)))

    train_op = tf.train.GradientDescentOptimizer(0.01).minimize(bprloss)
    return u, i, j, mf_auc, bprloss, train_op

#### 运行模型

In [19]:
#清除互动为1的用户后，需要对用户从0-4343进行一个重新排序
#第一列是原始用户对应序号，第二列是从0开始排序后的序号
user_temp=[]
count=0
for u in user_ratings:
    user_temp.append([u,count])
    count+=1
    
user_ratings_index={}
count=0
for u in user_ratings:
    user_ratings_index[count]=user_ratings[u]
    count+=1
    
users_temp=[]
for u in user_ratings_index:
    users_temp.append(u)

In [20]:
user_ratings_test = generate_test(user_ratings_index)

In [31]:
tf.reset_default_graph()
with tf.Session() as sess:
    u,i,j,mf_auc,bprloss,train_op = bpr_mf(len(users_temp),len(artical_list),20)
    sess.run(tf.global_variables_initializer())

    for epoch in range(1,4):
        _batch_bprloss = 0
        for k in range(1,5000):# uniform samples from training set
            uij = generate_train_batch(user_ratings_index,user_ratings_test,len(artical_list))
            
            _bprloss,_train_op = sess.run([bprloss,train_op],
                                          feed_dict={u:uij[:,0],i:uij[:,1],j:uij[:,2]})
            
            _batch_bprloss += _bprloss

        print("epoch:",epoch)
        print("bpr_loss:",_batch_bprloss / k)
        print("_train_op")

        user_count = 0
        _auc_sum = 0.0

        # each batch will return only one user's auc
        for t_uij in generate_test_batch(user_ratings_index, user_ratings_test, len(artical_list)):
            _auc, _test_bprloss = sess.run([mf_auc, bprloss],
                                              feed_dict={u: t_uij[:, 0], i: t_uij[:, 1], j: t_uij[:, 2]}
                                              )
            user_count += 1
            _auc_sum += _auc
        print("test_loss: ", _test_bprloss, "test_auc: ", _auc_sum / user_count)
        print("")
    variable_names = [v.name for v in tf.trainable_variables()]
    values = sess.run(variable_names)
    for k, v in zip(variable_names, values):
        print("Variable: ", k)
        print("Shape: ", v.shape)
        print(v)

#这里取了k=20，迭代次数3
        
#输出的W,H矩阵分别在values[0]和values[1]中。

epoch: 1
bpr_loss: 0.7236369838831925
_train_op
test_loss:  0.69467235 test_auc:  0.49854217610752327

epoch: 2
bpr_loss: 0.7229975729638229
_train_op
test_loss:  0.7084677 test_auc:  0.4981000391020599

epoch: 3
bpr_loss: 0.7223282952646323
_train_op
test_loss:  0.6987856 test_auc:  0.496151626918953

Variable:  user_emb_w:0
Shape:  (4344, 20)
[[ 0.07407623 -0.08236344  0.20756564 ... -0.15193674 -0.08908212
  -0.07115918]
 [ 0.04854294  0.04909178  0.11735984 ... -0.04734726  0.08562405
   0.11522461]
 [-0.02148025 -0.03209087  0.08466808 ...  0.10490572 -0.07317357
   0.10038902]
 ...
 [ 0.09304229 -0.05721299 -0.17697962 ...  0.09186146 -0.09449738
   0.03842133]
 [-0.02151117  0.08202858 -0.0291393  ...  0.00493528  0.13892643
  -0.25313568]
 [ 0.06014761  0.11454549  0.1993236  ... -0.1021769   0.00584623
  -0.06821931]]
Variable:  item_emb_w:0
Shape:  (737768, 20)
[[-0.01768387 -0.17980294 -0.0766371  ...  0.22600105 -0.14664263
  -0.09697448]
 [-0.0639381  -0.01833209  0.03144683 ...  0.00346424  0.18578215
   0.00083119]
 [ 0.15837403 -0.00989952  0.18662797 ... -0.11257127  0.01627197
   0.12493929]
 ...
 [-0.13440527 -0.06436712  0.03395337 ...  0.06488209  0.00946386
  -0.02100194]
 [-0.01190213 -0.12214206 -0.1151367  ...  0.23577553  0.0150328
   0.03688189]
 [ 0.00813513 -0.03379352 -0.02075781 ...  0.0081152   0.03116548
  -0.12534562]]

'#  0号用户对这个用户对所有电影的预测评分\nsession1 = tf.Session()\nu1_dim = tf.expand_dims(values[0][0], 0)\nu1_all = tf.matmul(u1_dim, values[1],transpose_b=True)\nresult_1 = session1.run(u1_all)\nprint (result_1)\n\nprint("以下是给用户0的推荐：")\np = np.squeeze(result_1)\np[np.argsort(p)[:-5]] = 0\nfor index in range(len(p)):\n    if p[index] != 0:\n        print (index, p[index])'

In [56]:
#0号用户对这个用户对所有电影的预测评分
session1 = tf.Session()
#expand_dims扩大指定维数 原来values[0][0]为（20，）的数组 变为(1,20)
u1_dim = tf.expand_dims(values[0][0], 0)

#matmul a、b矩阵相乘 transpose_b：如果 True,b 在乘法之前转置
u1_all = tf.matmul(u1_dim, values[1],transpose_b=True)

#计算用户0对所有商品的排序
result_1 = session1.run(u1_all)
print (result_1)

[[-0.00846129 -0.02636753  0.01312796 ... -0.0118585   0.00779091
   0.07868302]]

In [47]:
print("以下是给用户0的推荐：")
#squeeze 将结果矩阵的第一维去掉，去掉外面一个框
p = np.squeeze(result_1)

#argsort 返回数组值从小到大的索引值
#把大小除了最大五个以外的p里的其他索引对应的值都设为0
p[np.argsort(p)[:-5]] = 0

#遍历p中的全部索引，只要值不为0，就输出索引和对应的索引值
for index in range(len(p)):
    if p[index] != 0:
        print (index, p[index])

以下是给用户0的推荐：
58664 0.22749951
231607 0.21820468
360229 0.22035974
486676 0.22655472
583043 0.21965653