In [1]:
f=open('处理好的文章分类.txt','r')
a=f.read()
article_classfy=eval(a)
f.close()

In [25]:
classcode_num={}
for classcode in article_classfy.keys():
    classcode_num[classcode]=len(article_classfy[classcode])

In [26]:
classcode_num

{'A': 645,
 'B': 5441,
 'C': 6410,
 'D': 20804,
 'E': 1414,
 'F': 67602,
 'G': 52964,
 'H': 10532,
 'I': 13201,
 'J': 9889,
 'K': 5804,
 'L': 5,
 'M': 5,
 'N': 691,
 'O': 10519,
 'P': 6044,
 'Q': 4833,
 'R': 169930,
 'S': 16184,
 'T': 116879,
 'U': 14618,
 'V': 3008,
 'W': 1,
 'X': 11019,
 'Y': 3,
 'Z': 54}

In [11]:
import pandas as pd

In [27]:
num_pd=pd.DataFrame(columns=('分类号','数量'))

In [28]:
num_pd['分类号']=list(classcode_num.keys())
num_pd['数量']=list(classcode_num.values())

In [29]:
num_pd

   分类号      数量
0    G   52964
1    T  116879
2    I   13201
3    F   67602
4    R  169930
5    J    9889
6    B    5441
7    Q    4833
8    S   16184
9    E    1414
10   D   20804
11   N     691
12   K    5804
13   V    3008
14   H   10532
15   O   10519
16   C    6410
17   U   14618
18   P    6044
19   X   11019
20   A     645
21   Z      54
22   Y       3
23   L       5
24   M       5
25   W       1